<!--The content below is only a placeholder and can be replaced.-->
<h1 style="text-align: center">
    Caja Registradora
 </h1>
<div class="container row">    
    <div class="col-xl-9">  
        <lista-productos (selectedProduct)="addProduct($event)" titulo="Comida" [products]="arrProductsFood" ></lista-productos>
        <lista-productos (selectedProduct)="addProduct($event)" titulo="Bebida" [products]="arrProductsDrinks"></lista-productos>
    </div>
    <div class="col-xl-3" >
        <pedido [order]="arrOrder">
      
        </pedido>
    </div>
</div>




